/* game board table */
body {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #2176ff;
}

#board td {
	width: 100px;
	height: 100px;
	border: solid 4px #31393c;
	background-color: #eff2c0;
}

/* pieces are div within game table cells: draw as colored circles */
.piece {
	margin: 5px;
	width: 80%;
	height: 80%;
	border-radius: 50%;
}

.p1 {
	background-color: blue;
}

.p2 {
	background-color: red;
}

/* column-top is table row of clickable areas for each column */
#column-top td {
	border: dashed 1px lightgray;
	background-color: #2176ff;
}

#column-top td:hover {
	background-color: gold;
}
